.align-center,
.aligncenter {
  text-align: center;
}
.align-left,
.alignleft {
  text-align: left;
}
.align-right,
.alignright {
  text-align: right;
}
.background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  background-color: #ffffff;
  color: #333333;
  font-family: 'Open Sans', Helvetica, Arial, san-serif;
  font-size: 14px;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', Helvetica, Arial, san-serif;
  font-weight: 500;
  color: #333;
  text-rendering: optimizelegibility;
}
.heading-alt {
  font-family: 'Droid Serif', 'Roboto Slab', Baskerville, Georgia, 'Times New Roman', serif;
  font-weight: 700;
}
.muted {
  color: #999999;
}
a {
  color: #15aaff;
}
a:hover {
  color: #007fc7;
}
a:visited {
  color: #a6670d;
}
.page-header {
  border-bottom: 1px solid #dedede;
  color: #999;
  margin: 0 0 20px;
  padding: 15px 20px;
}
.page-header h1 {
  margin: 0;
  font: 300 30px/1 'Open Sans', Helvetica, Arial, san-serif;
  display: inline-block;
}
pre {
  background-color: #eee;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  border-radius: 2px;
  -webkit-border-radius: 2px;
}
pre.dark {
  background-color: #333333;
  color: #fff;
}
.navbar.navbar-inverse {
  background: #111;
}
.navbar .navbar-toggle {
  border-color: transparent;
  margin-top: 12px;
}
.form-horizontal {
  padding: 20px 0;
}
.form-horizontal .form-control-static {
  padding-top: 11px;
}
.form-inline .form-group {
  margin-right: 10px;
}
.control-label {
  padding-top: 11px;
}
.form-control {
  background-color: #ffffff;
  border-width: 1px;
  padding: 5px 12px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
.form-control:focus {
  border-color: #999999;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
}
.form-control.input-lg {
  padding: 25px 12px;
}
.form-control.input-sm {
  padding: 15px 12px;
}
textarea.form-control {
  padding: 10px 12px;
}
fieldset {
  border: solid 1px #999999;
  padding: 20px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
fieldset legend {
  border: 0;
  padding: 0 20px;
  width: auto;
}
.radio-inline label,
.checkbox-inline label {
  font-weight: normal;
}
.bootstrap-select .btn {
  border: solid 1px #cccccc;
  padding: 7px 12px;
  background-color: #ffffff;
  border-width: 1px;
  padding: 5px 12px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
.bootstrap-select .btn:focus {
  border-color: #999999;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
}
.bootstrap-select .btn.input-lg {
  padding: 25px 12px;
}
.bootstrap-select .btn.input-sm {
  padding: 15px 12px;
}
.bootstrap-select .btn:focus {
  outline: none !important;
}
.input-group {
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
.input-group .form-control {
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
.input-group .input-group-addon {
  border-radius: 0;
  -webkit-border-radius: 0;
}
.input-group-btn .btn {
  border: solid 1px #cccccc;
  padding: 6px 12px;
}
.has-switch {
  border-radius: 3px;
  -webkit-border-radius: 3px;
}
.has-switch span.switch-primary,
.has-switch span.switch-left {
  background: #15aaff;
}
.has-switch span.switch-left {
  border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
}
.has-switch span.switch-left.switch-primary {
  background: #15aaff;
}
.has-switch span.switch-left.switch-success {
  background: #4fa950;
}
.has-switch span.switch-left.switch-info {
  background: #6ab2ee;
}
.has-switch span.switch-left.switch-warning {
  background: #ef9e2a;
}
.has-switch span.switch-left.switch-danger {
  background: #ea4519;
}
.has-switch span.switch-left.switch-inverse {
  background: #333333;
}
.has-switch span.switch-right {
  background: #ededed;
  border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
}
.has-switch span.switch-right.switch-primary {
  background: #15aaff;
}
.has-switch span.switch-right.switch-success {
  background: #4fa950;
}
.has-switch span.switch-right.switch-info {
  background: #6ab2ee;
}
.has-switch span.switch-right.switch-warning {
  background: #ef9e2a;
}
.has-switch span.switch-right.switch-danger {
  background: #ea4519;
}
.has-switch span.switch-right.switch-inverse {
  background: #333333;
}
.panel {
  border-width: 1px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
}
.panel .panel-heading {
  padding: 0;
  position: relative;
  border-radius: 0;
  -webkit-border-radius: 0;
}
.panel .panel-heading:after,
.panel .panel-heading:before {
  display: table;
  clear: both;
  content: " ";
}
.panel .panel-heading .panel-title {
  float: left;
  font: 300 22px/1 'Open Sans', Helvetica, Arial, san-serif;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
}
.panel .panel-heading .panel-title > i {
  font-size: 20px;
  padding-right: 5px;
}
.panel .panel-heading .panel-title > a {
  color: #fff;
  display: block;
}
.panel .panel-heading .panel-title > a:hover {
  background-color: transparent;
  color: #fff;
}
.panel .panel-heading .panel-utility {
  float: right;
  height: 40px;
}
.panel .panel-heading .panel-utility > * {
  border-left: solid 1px rgba(0, 0, 0, 0.1);
}
.panel .panel-heading .panel-utility > *:first-child {
  border: 0;
}
.panel .panel-heading .panel-utility > .dropdown {
  display: inline-block;
  float: left;
}
.panel .panel-heading .panel-utility > .dropdown > a {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  padding: 0 15px;
}
.panel .panel-heading .panel-utility > .dropdown.open > a {
  background-color: rgba(0, 0, 0, 0.05);
}
.panel .panel-heading .panel-utility > ul {
  display: inline-block;
  float: left;
}
.panel .panel-heading .panel-utility > ul.nav {
  border-bottom: 0;
}
.panel .panel-heading .panel-utility > ul.nav li {
  border-left: solid 1px rgba(0, 0, 0, 0.1);
}
.panel .panel-heading .panel-utility > ul.nav li + li {
  margin-left: 0;
}
.panel .panel-heading .panel-utility > ul.nav li a {
  border-radius: 0;
  -webkit-border-radius: 0;
}
.panel .panel-heading .panel-utility form {
  display: inline-block;
  float: left;
  padding: 3px 10px;
}
.panel .panel-heading .panel-utility form .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}
.panel .panel-heading .panel-utility .btn {
  -webkit-box-shadow: 0 0 0 #ffffff;
  -moz-box-shadow: 0 0 0 #ffffff;
  box-shadow: 0 0 0 #ffffff;
}
.panel .panel-heading .panel-utility .btn:hover {
  -webkit-box-shadow: 0 0 0 #ffffff;
  -moz-box-shadow: 0 0 0 #ffffff;
  box-shadow: 0 0 0 #ffffff;
}
.panel .panel-heading .panel-utility .nav-tabs > li a,
.panel .panel-heading .panel-utility .nav-pills > li a {
  background-color: transparent;
  border: 0;
  font-size: 12px;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
}
.panel .panel-heading .panel-utility .nav-tabs > li > a[disabled],
.panel .panel-heading .panel-utility .nav-pills > li > a[disabled] {
  background-color: #e0e0e0;
  color: #a1a1a1;
}
.panel .panel-footer {
  padding-bottom: 15px;
}
.panel .panel-footer .pagination {
  display: inline-block;
  margin: 0;
  text-align: center;
}
.panel.panel-default {
  border-color: #e0e0e0;
}
.panel.panel-default a {
  color: #a1a1a1;
  text-decoration: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.panel.panel-default a:hover {
  background-color: #ffffff;
  color: #bababa;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.panel.panel-default > .panel-heading {
  color: #333333;
  background-color: #fff;
}
.panel.panel-default > .panel-heading .panel-title > a {
  color: #a1a1a1;
  display: block;
}
.panel.panel-default > .panel-heading .panel-title > a:hover {
  background-color: transparent;
  color: #a1a1a1;
}
.panel.panel-default > .panel-heading .panel-utility .nav-tabs > li.active > a,
.panel.panel-default > .panel-heading .panel-utility .nav-pills > li.active > a {
  background-color: #f5f5f5;
  color: #a1a1a1;
}
.panel.panel-primary {
  border-color: #15aaff;
}
.panel.panel-primary a {
  color: #006fae;
  text-decoration: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.panel.panel-primary a:hover {
  background-color: #48bdff;
  color: #008fe1;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.panel.panel-primary > .panel-heading {
  color: #fbfdff;
  background-color: #15aaff;
  text-shadow: 0 0 0 transparent;
}
.panel.panel-primary > .panel-heading .panel-utility .nav-tabs > li.active > a,
.panel.panel-primary > .panel-heading .panel-utility .nav-pills > li.active > a {
  background-color: #00a0fb;
  color: #ffffff;
}
.panel.panel-primary > .panel-heading .panel-utility .nav-tabs > li a,
.panel.panel-primary > .panel-heading .panel-utility .nav-pills > li a {
  color: #c7ebff;
}
.panel.panel-info {
  border-color: #6ab2ee;
}
.panel.panel-info a {
  color: #1982d9;
  text-decoration: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.panel.panel-info a:hover {
  background-color: #98caf3;
  color: #3c9ae9;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.panel.panel-info > .panel-heading {
  color: #ffffff;
  background-color: #6ab2ee;
  text-shadow: 0 0 0 transparent;
}
.panel.panel-info > .panel-heading .panel-utility .nav-tabs > li.active > a,
.panel.panel-info > .panel-heading .panel-utility .nav-pills > li.active > a {
  background-color: #53a6eb;
  color: #ffffff;
}
.panel.panel-info > .panel-heading .panel-utility .nav-tabs > li a,
.panel.panel-info > .panel-heading .panel-utility .nav-pills > li a {
  color: #ffffff;
}
.panel.panel-success {
  border-color: #4fa950;
}
.panel.panel-success a {
  color: #2f632f;
  text-decoration: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.panel.panel-success a:hover {
  background-color: #6fbc70;
  color: #3f8640;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.panel.panel-success > .panel-heading {
  color: #e9f5e9;
  background-color: #4fa950;
  text-shadow: 0 0 0 transparent;
}
.panel.panel-success > .panel-heading .panel-utility .nav-tabs > li.active > a,
.panel.panel-success > .panel-heading .panel-utility .nav-pills > li.active > a {
  background-color: #479848;
  color: #ffffff;
}
.panel.panel-success > .panel-heading .panel-utility .nav-tabs > li a,
.panel.panel-success > .panel-heading .panel-utility .nav-pills > li a {
  color: #c6e4c6;
}
.panel.panel-warning {
  border-color: #ef9e2a;
}
.panel.panel-warning a {
  color: #a6670d;
  text-decoration: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.panel.panel-warning a:hover {
  background-color: #f3b459;
  color: #d68510;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.panel.panel-warning > .panel-heading {
  color: #ffffff;
  background-color: #ef9e2a;
  text-shadow: 0 0 0 transparent;
}
.panel.panel-warning > .panel-heading .panel-utility .nav-tabs > li.active > a,
.panel.panel-warning > .panel-heading .panel-utility .nav-pills > li.active > a {
  background-color: #ed9312;
  color: #ffffff;
}
.panel.panel-warning > .panel-heading .panel-utility .nav-tabs > li a,
.panel.panel-warning > .panel-heading .panel-utility .nav-pills > li a {
  color: #fbead0;
}
.panel.panel-danger {
  border-color: #ea4519;
}
.panel.panel-danger a {
  color: #90290d;
  text-decoration: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.panel.panel-danger a:hover {
  background-color: #ee6b48;
  color: #bf3611;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.panel.panel-danger > .panel-heading {
  color: #fdefeb;
  background-color: #ea4519;
  text-shadow: 0 0 0 transparent;
}
.panel.panel-danger > .panel-heading .panel-utility .nav-tabs > li.active > a,
.panel.panel-danger > .panel-heading .panel-utility .nav-pills > li.active > a {
  background-color: #d63c14;
  color: #ffffff;
}
.panel.panel-danger > .panel-heading .panel-utility .nav-tabs > li a,
.panel.panel-danger > .panel-heading .panel-utility .nav-pills > li a {
  color: #f9c9bd;
}
.panel.panel-inverse {
  border-color: #333333;
}
.panel.panel-inverse a {
  color: #000000;
  text-decoration: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.panel.panel-inverse a:hover {
  background-color: #4d4d4d;
  color: #1a1a1a;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.panel.panel-inverse > .panel-heading {
  color: #a6a6a6;
  background-color: #333333;
  text-shadow: 0 0 0 transparent;
}
.panel.panel-inverse > .panel-heading .panel-utility .nav-tabs > li.active > a,
.panel.panel-inverse > .panel-heading .panel-utility .nav-pills > li.active > a {
  background-color: #262626;
  color: #f2f2f2;
}
.panel.panel-inverse > .panel-heading .panel-utility .nav-tabs > li a,
.panel.panel-inverse > .panel-heading .panel-utility .nav-pills > li a {
  color: #8c8c8c;
}
.panel.panel-outline {
  -webkit-box-shadow: 0 0 0 #ffffff;
  -moz-box-shadow: 0 0 0 #ffffff;
  box-shadow: 0 0 0 #ffffff;
}
.panel.panel-outline .panel-heading {
  border-bottom: solid 1px #eeeeee;
}
.panel.panel-outline .panel-heading .panel-title > a {
  color: #a1a1a1;
  display: block;
}
.panel.panel-outline .panel-heading .panel-title > a:hover {
  background-color: transparent;
  color: #a1a1a1;
}
.panel.panel-outline .panel-heading .panel-utility .nav-tabs li,
.panel.panel-outline .panel-heading .panel-utility .nav-pills li {
  border: 0;
  height: 36px;
  line-height: 36px;
}
.panel.panel-outline .panel-heading .panel-utility .nav-tabs li a,
.panel.panel-outline .panel-heading .panel-utility .nav-pills li a {
  color: #999999;
  height: 36px;
  line-height: 36px;
  margin: 3px 0;
  padding: 0 10px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.panel.panel-outline .panel-heading .panel-utility .nav-tabs li a:hover,
.panel.panel-outline .panel-heading .panel-utility .nav-pills li a:hover {
  color: #555555;
  background-color: #eeeeee;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.panel-group {
  margin-bottom: 20px;
}
.btn {
  font-size: 14px;
  padding: 6px 25px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  border-radius: 3px;
  -webkit-border-radius: 3px;
}
.btn.btn-lg {
  font-size: 16px;
  padding: 10px 45px;
}
.btn.btn-sm {
  font-size: 12px;
  padding: 4px 15px;
}
.btn.btn-xs {
  font-size: 10px;
  padding: 2px 10px;
}
.btn:hover {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.btn:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 #ffffff;
  -moz-box-shadow: 0 0 0 #ffffff;
  box-shadow: 0 0 0 #ffffff;
}
.btn.btn-default {
  background-color: #ededed;
  border-color: #dbdbdb;
  color: #888888;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.btn.btn-default:hover {
  background-color: #ffffff;
  border-color: #e8e8e8;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.btn.btn-primary {
  background-color: #15aaff !important;
  border-color: #0099f0 !important;
  color: #ffffff !important;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.btn.btn-primary:hover {
  background-color: #3eb9ff !important;
  border-color: #24b0ff !important;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.btn.btn-success {
  background-color: #4fa950 !important;
  border-color: #449144 !important;
  color: #ffffff !important;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.btn.btn-success:hover {
  background-color: #68b969 !important;
  border-color: #57b058 !important;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.btn.btn-warning {
  background-color: #ef9e2a !important;
  border-color: #e48d11 !important;
  color: #ffffff !important;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.btn.btn-warning:hover {
  background-color: #f2af50 !important;
  border-color: #f0a438 !important;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.btn.btn-danger {
  background-color: #ea4519 !important;
  border-color: #cd3a13 !important;
  color: #ffffff;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.btn.btn-danger:hover {
  background-color: #ed633e !important;
  border-color: #eb5027 !important;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.btn.btn-info {
  background-color: #6ab2ee !important;
  border-color: #4aa1ea !important;
  color: #ffffff !important;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.btn.btn-info:hover {
  background-color: #8fc5f2 !important;
  border-color: #78b9f0 !important;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.btn.btn-inverse {
  background-color: #333333 !important;
  border-color: #212121 !important;
  color: #ffffff !important;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.btn.btn-inverse:hover {
  background-color: #474747 !important;
  border-color: #3b3b3b !important;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.btn.btn-link {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #15aaff !important;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.btn.btn-link:hover {
  background-color: transparent !important;
  border-color: #48bdff !important;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.btn.btn-disabled {
  background-color: #ffffff !important;
  border-color: #ededed !important;
  color: #999999 !important;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.btn.btn-disabled:hover {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.btn-group-lg .btn {
  border-radius: 3px;
  -webkit-border-radius: 3px;
}
.bootstrap-filestyle .btn {
  border-color: #ccc;
  -webkit-box-shadow: 0 0 0 #ffffff;
  -moz-box-shadow: 0 0 0 #ffffff;
  box-shadow: 0 0 0 #ffffff;
}
.bootstrap-filestyle .btn:hover {
  border-color: #ccc;
  -webkit-box-shadow: 0 0 0 #ffffff;
  -moz-box-shadow: 0 0 0 #ffffff;
  box-shadow: 0 0 0 #ffffff;
}
.badge {
  padding: 3px 6px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
}
.badge.badge-danger {
  background-color: #ea4519;
}
.badge.badge-primary {
  background-color: #15aaff;
}
.badge.badge-info {
  background-color: #6ab2ee;
}
.badge.badge-success {
  background-color: #4fa950;
}
.badge.badge-warning {
  background-color: #ef9e2a;
}
.badge.badge-inverse {
  background-color: #333333;
}
.carousel {
  padding: 0 90px;
}
.carousel .carousel-control {
  background: transparent;
  color: #555;
  font-size: 40px;
  height: 50px;
  padding: 0;
  top: 35%;
  width: 50px;
  text-shadow: 0 0 0 #fff;
}
.carousel .carousel-control i {
  margin: 0;
}
.carousel .carousel-caption {
  background: rgba(0, 0, 0, 0.8);
}
.carousel .carousel-caption a {
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 0 #fff;
}
.progress {
  padding: 5px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
}
.progress .progress-bar {
  border-radius: 5px;
  -webkit-border-radius: 5px;
}
.error-page {
  border: 0 !important;
  padding: 200px 30% !important;
  text-align: center;
}
.error-page .code {
  color: rgba(0, 0, 0, 0.02);
  font-size: 3500%;
  font-weight: 700;
  line-height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  width: 100%;
  text-align: center;
}
.error-page .description {
  font-size: 130%;
}
body {
  background-color: #fff;
  font-size: 13px;
  font-family: 'Open Sans', Helvetica, Arial, san-serif;
  font-weight: 400;
  color: #666;
  padding-top: 58px;
}
.container {
  width: 100%;
}
.gap-bottom {
  margin-bottom: 30px;
}
#mainnav .navbar-collapse .navbar-nav {
  border-left: solid 1px #333333;
  margin-left: 10px;
}
#mainnav .navbar-collapse .navbar-nav > li > a {
  line-height: 57px;
  padding-bottom: 0;
  padding-top: 0;
}
#mainnav .navbar-collapse .navbar-nav > li > a > img {
  height: 30px;
  margin-right: 10px;
  width: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}
#mainnav .navbar-collapse .form-search {
  background: #fff;
  margin-bottom: 0;
  margin-right: 0;
  margin-top: 12px;
  padding: 0;
  border-radius: 3px;
  -webkit-border-radius: 3px;
}
#mainnav .navbar-collapse .form-search .form-group {
  margin-right: 0;
}
#mainnav .navbar-collapse .form-search .form-group .form-control {
  border: 0;
  -webkit-box-shadow: 0 0 0 #ffffff;
  -moz-box-shadow: 0 0 0 #ffffff;
  box-shadow: 0 0 0 #ffffff;
}
#mainnav .navbar-collapse .form-search .btn.btn-default {
  background-color: transparent;
  border: 0;
  padding-left: 10px;
  padding-right: 10px;
}
#sidebar-left {
  background: #f7f7f7;
  border-right: #dedede solid 1px;
  float: left;
  left: 0;
  position: fixed;
  width: 90px;
}
#sidebar-left .nav li a {
  border: solid 1px transparent;
  color: #777;
  text-align: center;
  -webkit-transition: color 0.3s linear, background-color 0.3s linear;
  -moz-transition: color 0.3s linear, background-color 0.3s linear;
  -ms-transition: color 0.3s linear, background-color 0.3s linear;
  -o-transition: color 0.3s linear, background-color 0.3s linear;
  transition: color 0.3s linear, background-color 0.3s linear;
}
#sidebar-left .nav li a i {
  color: #ccc;
  font-size: 30px;
  margin-bottom: 5px;
}
#sidebar-left .nav li a span {
  display: block;
  font-size: 11px;
}
#sidebar-left .nav li.active a,
#sidebar-left .nav li:hover a {
  color: #fff;
  text-decoration: none;
  background: #15aaff;
  border: #008fe1 solid 1px;
  border-left: none;
  position: relative;
  margin-right: -1px;
  -webkit-transition: color 0.3s linear, background-color 0.3s linear;
  -moz-transition: color 0.3s linear, background-color 0.3s linear;
  -ms-transition: color 0.3s linear, background-color 0.3s linear;
  -o-transition: color 0.3s linear, background-color 0.3s linear;
  transition: color 0.3s linear, background-color 0.3s linear;
}
#sidebar-left .nav li.active a i,
#sidebar-left .nav li:hover a i {
  color: #fff;
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -ms-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
.main {
  margin: 0 250px 0 90px;
}
.main .section-content {
  background: #fff;
  padding: 20px 0 40px;
  margin: -20px 0 20px;
  border-bottom: rgba(0, 0, 0, 0.1) solid 1px;
}
.main .section-content .header h2 {
  color: #777;
  font-size: 24px;
  font-weight: 300;
  line-height: 1;
  margin: 20px 0 30px;
}
.main .section-content .header h3 {
  color: #777;
  font-size: 18px;
  font-weight: 300;
  line-height: 1;
  margin: 20px 0 30px;
}
.main .section-content .header p {
  color: #999;
  max-width: 500px;
  margin: -20px auto 30px;
}
.main .section-content:last-child {
  border-bottom: 0;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.main .section-content.section-content-dark {
  background-color: #eeeeee;
}
.main.no-left {
  margin-left: 0;
}
.main.no-right {
  margin-right: 0;
}
#sidebar-right {
  background: #f7f7f7;
  border-left: #dedede solid 1px;
  float: right;
  display: block;
  height: 100%;
  padding: 15px;
  position: fixed;
  right: 0;
  top: 57px;
  overflow: auto;
  width: 250px;
}
#sidebar-right .panel .panel-heading .panel-title {
  font-size: 18px;
}
.user-profile .profile-heading {
  background: #ffffff url('../../img/samples/profile-head.jpg') no-repeat 0 0;
  min-height: 300px;
}
.user-profile .profile-heading .profile-picture {
  text-align: right;
}
.user-profile .profile-heading .profile-picture .thumbnail {
  background: #fff;
  border: 0;
  display: inline-block;
  margin: 60px 0 0 0;
  padding: 0;
  width: 150px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
}
.user-profile .profile-heading .profile-picture .thumbnail img {
  border-radius: 100%;
  -webkit-border-radius: 100%;
}
.user-profile .profile-heading .details {
  color: #fff;
  display: inline-block;
  margin: 60px 0 0 0;
}
.user-profile .profile-heading .details .profile-name {
  color: #fff;
  font-weight: 300;
}
.user-profile .profile-heading .details .profile-details li {
  font-size: 14px;
}
.user-profile .profile-heading .details .profile-details li a {
  color: #fff;
}
.user-profile .profile-heading .details .profile-details li i {
  margin-right: 5px;
  width: 20px;
  text-align: right;
}
.user-profile .shout {
  border-bottom: dotted 1px #ddd;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 15px;
  padding-bottom: 10px;
}
.user-profile .profile-stats li {
  margin: 0 5px;
  padding: 15px;
}
.user-profile .profile-stats li .count {
  font-size: 30px;
  font-weight: 700;
}
.signin-page {
  border: 0 !important;
}
.signin-page .form-signin {
  margin-top: 40px;
}
.signin-page .form-signin input[type="text"] {
  margin-bottom: -1px;
  border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px 2px 0 0;
}
.signin-page .form-signin input[type="password"] {
  margin-bottom: 10px;
  border-radius: 0 0 2px 2px;
  -webkit-border-radius: 0 0 2px 2px;
}
.signin-page .nav-pills li a {
  font-size: 16px;
  margin-right: 2px;
}
.signin-page .nav-pills li:last-child a {
  margin-right: 0;
}
.brand {
  color: #fff;
}
.brand.brand-facebook {
  background-color: #3b5998;
}
.brand.brand-twitter {
  background-color: #3a92c8;
}
.brand.brand-github {
  background-color: #3b3b3b;
}
.brand.brand-gplus {
  background-color: #d6492f;
}
.activity-stream .media {
  border-bottom: dotted 1px #ccc;
}
.activity-stream .media .media-object {
  height: 60px;
  width: 60px;
}
.activity-stream .media .media-body .media-heading {
  font-size: 14px;
  font-weight: 300;
}
.activity-stream .media .media-body a {
  color: #15aaff;
  font-weight: 500;
}
.activity-stream .media .media-body a:hover {
  color: #006fae;
}
.activity-stream .media .form-comment {
  background-color: #ededed;
  margin-bottom: 10px;
  padding: 5px;
}
.activity-stream .media .form-comment .form-group {
  width: 100%;
}
.activity-stream .media:last-child {
  border: 0;
}
.activity-stream .media .media .media-object {
  height: 40px;
  width: 40px;
}
.friend-list li {
  border-bottom: solid 1px #ddd;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
.friend-list li a {
  display: block;
}
.friend-list li a img {
  height: 30px;
  margin-right: 10px;
  width: 30px;
}
.friend-list li a .label {
  font-size: 10px;
  float: right;
  margin-top: 8px;
}
.friend-list li:last-child {
  border: 0;
}
.user-list li {
  display: inline-block;
  margin: 0 5px 5px 0;
}
.user-list li a {
  display: block;
}
.user-list li a img {
  height: 38px;
  width: 38px;
}
.shortcut-group .quick-menu {
  text-align: center;
}
.shortcut-group .quick-menu li {
  display: inline-block;
  width: 140px;
}
.shortcut-group .quick-menu li a {
  display: block;
  text-decoration: none;
  -webkit-transition: background-color 0.3s linear;
  -moz-transition: background-color 0.3s linear;
  -ms-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}
.shortcut-group .quick-menu li a i {
  background: #333333;
  color: #fff;
  display: block;
  font-size: 36px;
  padding: 44px 40px;
  width: 125px;
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
}
.shortcut-group .quick-menu li a span {
  background: rgba(0, 0, 0, 0.05);
  color: #777;
  display: block;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 10px 0;
  text-transform: uppercase;
  width: 125px;
  border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -webkit-transition: background-color 0.3s linear;
  -moz-transition: background-color 0.3s linear;
  -ms-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}
.shortcut-group .quick-menu li a:hover {
  -webkit-transition: background-color 0.3s linear;
  -moz-transition: background-color 0.3s linear;
  -ms-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}
.shortcut-group .quick-menu li a:hover span {
  background-color: #333333;
  color: #fff;
  -webkit-transition: background-color 0.3s linear;
  -moz-transition: background-color 0.3s linear;
  -ms-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}
.shortcut-group .quick-menu li.blue a i,
.shortcut-group .quick-menu li.primary a i {
  background-color: #15aaff;
}
.shortcut-group .quick-menu li.blue a:hover span,
.shortcut-group .quick-menu li.primary a:hover span {
  background-color: #15aaff;
}
.shortcut-group .quick-menu li.red a i,
.shortcut-group .quick-menu li.danger a i {
  background-color: #ea4519;
}
.shortcut-group .quick-menu li.red a:hover span,
.shortcut-group .quick-menu li.danger a:hover span {
  background-color: #ea4519;
}
.shortcut-group .quick-menu li.yellow a i,
.shortcut-group .quick-menu li.warning a i {
  background-color: #ef9e2a;
}
.shortcut-group .quick-menu li.yellow a:hover span,
.shortcut-group .quick-menu li.warning a:hover span {
  background-color: #ef9e2a;
}
.shortcut-group .quick-menu li.green a i,
.shortcut-group .quick-menu li.success a i {
  background-color: #4fa950;
}
.shortcut-group .quick-menu li.green a:hover span,
.shortcut-group .quick-menu li.success a:hover span {
  background-color: #4fa950;
}
.shortcut-group .quick-menu li.lite-blue a i,
.shortcut-group .quick-menu li.info a i {
  background-color: #6ab2ee;
}
.shortcut-group .quick-menu li.lite-blue a:hover span,
.shortcut-group .quick-menu li.info a:hover span {
  background-color: #6ab2ee;
}
.shortcut-group .quick-menu li.inverse a i {
  background-color: #333333;
}
.shortcut-group .quick-menu li.inverse a:hover span {
  background-color: #333333;
}
.charts.graph-area {
  margin: 0 auto 30px;
  height: 300px;
  width: 90%;
}
.statistic-list-chart .listing li,
.statistic-list-icon .listing li {
  margin-bottom: 10px;
}
.statistic-list-chart .listing li span,
.statistic-list-icon .listing li span {
  margin-right: 5px;
}
.statistic-list-chart .listing li label,
.statistic-list-icon .listing li label {
  margin-bottom: 0;
  margin-right: 5px;
  padding: 8px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
}
.statistic-list-chart .listing li label i,
.statistic-list-icon .listing li label i {
  color: #fff;
  width: 18px;
  text-align: center;
}
.statistic-list-chart .listing li h4,
.statistic-list-icon .listing li h4 {
  color: #333;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}
.statistic-list-chart .listing li p.sub,
.statistic-list-icon .listing li p.sub {
  color: #999;
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  margin: 0 0 0 3px;
}
.calendar {
  background: #444;
  border-radius: 5px;
  padding: 15px;
}
.calendar .fc-header {
  color: #fff;
}
.calendar .fc-header .fc-header-title h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
  line-height: 1;
  color: #fff;
}
.calendar .fc-header .fc-button {
  border-radius: 0;
  -webkit-border-radius: 0;
}
.calendar .fc-header .fc-button.fc-state-default {
  background-color: #ededed;
}
.calendar .fc-content {
  background: #fff;
  padding: 10px;
  border-radius: 3px;
}
.calendar .fc-content .fc-other-month {
  background: #eaeaea;
}
.calendar .fc-content .fc-other-month .fc-day-number {
  opacity: 1;
  filter: alpha(opacity=100);
}
.calendar .fc-content .fc-event {
  background: #4FA950;
  border: none;
}
@media (min-width: 320px) and (max-width: 768px) {
  #mainnav .container {
    padding: 0;
  }
  #mainnav .navbar-collapse .navbar-nav {
    border: 0;
    border-top: solid 1px #222;
    margin-left: 0;
  }
  #mainnav .navbar-collapse .navbar-nav li .caret {
    float: right;
    margin-right: 20px;
    margin-top: 25px;
  }
  #mainnav .navbar-collapse .navbar-nav:first-child {
    border: 0;
    margin-bottom: 0;
  }
  #mainnav .navbar-toggle {
    margin-right: 20px;
  }
  .main {
    height: auto !important;
    margin-right: 0;
    margin-left: 0;
  }
  #sidebar-left {
    left: -90px;
  }
  #sidebar-left-toggle {
    color: #fff;
    float: left;
    margin: 12px 10px 0 20px !important;
  }
  #sidebar-right {
    border: 0;
    float: none;
    height: auto !important;
    margin-left: 0;
    position: initial;
    width: auto;
  }
  .shortcut-group .quick-menu li {
    margin-bottom: 10px;
    width: 120px;
  }
  .shortcut-group .quick-menu li a i {
    width: 110px;
  }
  .shortcut-group .quick-menu li a span {
    width: 110px;
  }
}
@media (min-width: 320px) and (max-width: 991px) {
  .user-profile .profile-heading .profile-picture {
    text-align: center;
  }
  .user-profile .profile-heading .profile-picture .thumbnail {
    height: 110px;
    margin-top: 20px;
    width: 110px;
  }
  .user-profile .profile-heading .details {
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }
  .user-profile .profile-heading .details .profile-name {
    font-size: 22px;
    margin-top: 0;
  }
}
@media (min-width: 991px) {
  #sidebar-left {
    left: 0 !important;
  }
  .main {
    height: auto !important;
    margin-left: 90px !important;
  }
  .main.no-left {
    margin-left: 0 !important;
  }
}
/* Medium screen */
